/* Common styles I've used across the different pages */

/* General purpose */
    .hidden { display:none; }
    .pointer { cursor:pointer; }
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }

/* Alignment (text-based) */
	.centered { text-align:center; }
	.lefted   { text-align:left; }
	.righted  { text-align:right; }

/* Alignment (margin-based) */
	.dlf_center_block_small { margin:auto; width:40%;}
	.dlf_center_block_medium { margin:auto; width:60%;}
	.dlf_center_block_large { margin:auto; width:80%;}
	.dlf_center_block_xlarge { margin:auto; width:90%;}
	.dlf_center_block_xxlarge { margin:auto; width:99%;}

/* Buttons */
	/*Button Shape & hover*/
	button { cursor: pointer; padding:2% 1%; border:none; }
	[class*="dlf_button"] { font-weight:bolder; }
	button:focus { outline: none; box-shadow: none; }
	.dlf_button_round_corners { border-radius:77px; }

	/*Button Sizes*/
	.dlf_button_small { font-size: 50%; }
	.dlf_button_large { font-size: 140%; }
	.dlf_button_xlarge { font-size: 190%; }
	.dlf_button_xxlarge { font-size: 200%; }
	.dlf_button_xxxlarge { font-size: 250%; }
	.button_mash { font-size:140%; cursor:pointer;  }

	/* Button Colors */
	.dlf_button_blue { background-color:blue !important; color:white !important;}
	.dlf_button_red { background-color:red !important; color:white !important;}
	.dlf_button_orange { background-color:orange !important; color:black !important;}
	.dlf_button_limegreen { background-color:limegreen !important; color:black !important;}
	.dlf_button_green { background-color:green !important; color:white !important;}
	.dlf_button_purple { background-color:purple !important; color:white !important;}
	.dlf_button_violet { background-color:violet !important; color:black !important;}
	.dlf_button_gold { background-color:goldenrod !important; color:black !important;}
	.dlf_button_yellow { background-color:yellow !important; color:black !important;}
	.dlf_button_gray { background-color:gray !important; color:lightgray !important;}


	
/* Hyperlinks */
	.dlf_href_notextdec { text-decoration:none !important; }
	.dlf_notextdecoration { text-decoration:none !important; }

/* Paragraphs */
	.dlf_paragraph_medium { font-size:80%; }
	.dlf_paragraph_large { font-size: 150%; }
	.dlf_paragraph_xlarge { font-size: 190%; }
	.dlf_paragraph_xxlarge { font-size: 220%; }
	.dlf_paragraph_xxxlarge { font-size: 250%; }


/* Select Inputs */
	.dlf_select { padding:3%; border:none; }
	.dlf_select:focus { outline:none; }
	.dlf_select_round_corners { border-radius:77px; }

	.dlf_select_small { font-size: 50%; width:50%; }
	.dlf_select_large { font-size: 140%; width:100%;}
	.dlf_select_xlarge { font-size: 190%; width:100%;}
	.dlf_select_xxlarge { font-size: 200%; width:100%;}
	.dlf_select_xxxlarge { font-size: 250%; width:100%;}

	.dlf_select_red { background-color:red; color:white; }
	.dlf_select_blue { background-color:blue; color:white; }


/* Tables */
	.dlf_table { border-spacing: 0; }
	.dlf_table_small { width:25%; }
	.dlf_table_medium { width:50%; }
	.dlf_table_large { width:100%; }



    
/**************************************************** 
	MEDIA SCREENS
*****************************************************/

@media only screen and (min-device-width:1200px)
{
	/* Headings */
	.dlf_title { font-size:2em;}

	/* Alignment */
	.dlf_center_block_small { margin:auto; width:30%;}
	.dlf_center_block_medium { margin:auto; width:50%;}
	.dlf_center_block_large { margin:auto; width:70%;}
	.dlf_center_block_xlarge { margin:auto; width:80%;}
	.dlf_center_block_xxlarge { margin:auto; width:90%;}

	/*Button Sizes*/
	.dlf_button_large { font-size: initial; }
	.dlf_button_xlarge { font-size: initial; }
	.dlf_button_xxlarge { font-size: initial; }
	.dlf_button_xxxlarge { font-size: initial; }

	/* Select Input Sizes*/
	.dlf_select_small { font-size: initial; }
	.dlf_select_large { font-size: initial; }
	.dlf_select_xlarge { font-size: initial; }
	.dlf_select_xxlarge { font-size: initial; }
	.dlf_select_xxxlarge { font-size: initial; }

	/* Paragraph sizes */
	.dlf_paragraph_medium { font-size: initial; }
	.dlf_paragraph_large { font-size: initial; }
	.dlf_paragraph_xlarge { font-size: initial; }
	.dlf_paragraph_xxlarge { font-size: initial; }
	.dlf_paragraph_xxxlarge { font-size: initial; }

	/* Identify Yourself*/
	.identify_yourself { padding:2%; margin-top:7%; }

	/* Game Example*/
	.example { padding-top:2%; padding-bottom:2%; }	

	/* Game Card*/
	#bingo_card_section { width:60%; }
	#bingo_card_table .card_table_header { font-size:initial; }
	#bingo_card_table td.number_cell { font-size:initial }
	#bingo_card_table td.example { font-size:initial  }
	.freeSpace { font-size:initial; }

}