/* Common styles I've used across the different pages */

/* Fonts */
@font-face { font-family: Koulen; src: url("https://dejai.github.io/scripts/fonts/koulen/Koulen-Regular.ttf"); }
@font-face { font-family: Inter-Regular; src: url("https://dejai.github.io/scripts/fonts/inter/static/Inter-Regular.ttf"); }

/* Themes */
.dtk-theme-cauldron { color:#D4D1CD !important; background-color:#0f0f0f !important; }
.dtk-theme-cauldron-inverse { color: #0f0f0f !important; background-color: #D4D1CD !important; }
.dtk-theme-cauldron-text1 { font-family: Inter-Regular, Palatino, Helvetica, sans-serif; }
.dtk-theme-cauldron-text2 { font-family: Koulen, Palatino, Helvetica, sans-serif; }
.dtk-theme-blackbg { background-color:black !important; color:white; }

/* Spinning elements */
@keyframes dtk-spin-frame { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }
.dtk-spinning { animation-name: dtk-spin-frame; animation-iteration-count: infinite; animation-timing-function: linear; }
.dtk-spinning-1000 { animation-duration: 1000ms; }
.dtk-spinning-1500 { animation-duration: 1500ms; }
.dtk-spinning-2000 { animation-duration: 2000ms; }
.dtk-spinning-2500 { animation-duration: 25000ms; }
.dtk-spinning-3000 { animation-duration: 3000ms; }

/* Position, Display, Visibility */
.dtk-menu-sticky { position:sticky; top:0; z-index:100; opacity:100 } /* Make menu items sticky */
.dtk-margin-0 { margin:0% !important }
.dtk-fade { opacity:0; }
.dtk-fade-in { opacity:100 !important; transition: opacity ease-in 0.5s; }
.dtk-fade-out { opacity:0 !important; transition: opacity ease-out 0.2s; }
.hidden { display:none !important; }
.invisible { visibility: hidden !important;} 
.pointer { cursor:pointer; }
.centered { text-align:center; }
.lefted   { text-align:left; }
.righted  { text-align:right; }

/* Dimensions, Display, & Clicking */
input, textarea, button, select, a { -webkit-tap-highlight-color: transparent; } /* No higlighting when clicking the items (especially on mobile devices*/
.dtk-href-no-textdecoration { text-decoration:none !important; }
.dtk-href-no-textdec { text-decoration:none !important; }
.dtk-frame { width: 100%; border: none; height:100%; } /* Mostly for iFrame formatting */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


/* Alignment (margin-based) */
	.dtk-center-block-small { margin:auto; width:40%;}
	.dtk-center-block-medium { margin:auto; width:60%;}
	.dtk-center-block-large { margin:auto; width:80%;}
	.dtk-center-block-xlarge { margin:auto; width:90%;}
	.dtk-center-block-xxlarge { margin:auto; width:99%;}

/* Buttons */
	/*Button Shape & hover*/
	.dtk-button { cursor:pointer; font-weight:bolder; border:none; }
	.dtk-button:focus { outline: none; box-shadow:none; }
	.dtk-button-padded { padding: 2% 1%}
	.dtk-button-round-corners { border-radius:77px; }

	/*Button Sizes*/
	.dtk-button-small { font-size: 50%; }
	.dtk-button-large { font-size: 140%; }
	.dtk-button-xlarge { font-size: 190%; }
	.dtk-button-xxlarge { font-size: 200%; }
	.dtk-button-xxxlarge { font-size: 250%; }

	/* Button Colors */
	.dtk-button-blue { background-color:blue !important; color:white !important;}
	.dtk-button-red { background-color:red !important; color:white !important;}
	.dtk-button-orange { background-color:orange !important; color:black !important;}
	.dtk-button-limegreen { background-color:limegreen !important; color:black !important;}
	.dtk-button-green { background-color:green !important; color:white !important;}
	.dtk-button-purple { background-color:purple !important; color:white !important;}
	.dtk-button-violet { background-color:violet !important; color:black !important;}
	.dtk-button-gold { background-color:goldenrod !important; color:black !important;}
	.dtk-button-yellow { background-color:yellow !important; color:black !important;}
	.dtk-button-gray { background-color:gray !important; color:lightgray !important;}

/* Paragraphs */
	.dtk-paragraph-medium { font-size:80%; }
	.dtk-paragraph-large { font-size: 150%; }
	.dtk-paragraph-xlarge { font-size: 190%; }
	.dtk-paragraph-xxlarge { font-size: 220%; }
	.dtk-paragraph-xxxlarge { font-size: 250%; }


/* Select Inputs */
	.dtk-select { padding:3%; border:none; }
	.dtk-select:focus { outline:none; }
	.dtk-select-round-corners { border-radius:77px; }
	.dtk-select-small { font-size: 50%; width:50%; }
	.dtk-select-large { font-size: 140%; width:100%;}
	.dtk-select-xlarge { font-size: 190%; width:100%;}
	.dtk-select-xxlarge { font-size: 200%; width:100%;}
	.dtk-select-xxxlarge { font-size: 250%; width:100%;}
	.dtk-select-red { background-color:red; color:white; }
	.dtk-select-blue { background-color:blue; color:white; }


/* Tables */
	.dtk-table { border-spacing: 0; }
	.dtk-table-small { width:25%; }
	.dtk-table-medium { width:50%; }
	.dtk-table-large { width:100%; }

    
/**************************************************** 
	MEDIA SCREENS
*****************************************************/

@media only screen and (min-device-width:1200px)
{
	/* Headings */
	.dtk-title { font-size:2em;}

	/* Alignment */
	.dtk-center-block-small { margin:auto; width:30%;}
	.dtk-center-block-medium { margin:auto; width:50%;}
	.dtk-center-block-large { margin:auto; width:70%;}
	.dtk-center-block-xlarge { margin:auto; width:80%;}
	.dtk-center-block-xxlarge { margin:auto; width:90%;}

	/*Button Sizes*/
	.dtk-button-large { font-size: initial; }
	.dtk-button-xlarge { font-size: initial; }
	.dtk-button-xxlarge { font-size: initial; }
	.dtk-button-xxxlarge { font-size: initial; }

	/* Select Input Sizes*/
	.dtk-select-small { font-size: initial; }
	.dtk-select-large { font-size: initial; }
	.dtk-select-xlarge { font-size: initial; }
	.dtk-select-xxlarge { font-size: initial; }
	.dtk-select-xxxlarge { font-size: initial; }

	/* Paragraph sizes */
	.dtk-paragraph-medium { font-size: initial; }
	.dtk-paragraph-large { font-size: initial; }
	.dtk-paragraph-xlarge { font-size: initial; }
	.dtk-paragraph-xxlarge { font-size: initial; }
	.dtk-paragraph-xxxlarge { font-size: initial; }
}